*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Encode Sans Expanded',
  sans-serif;
}


.main {
  height: 30em;
}

.list {
  padding: 50px;
  font-family: sans-serif;
  justify-content: center;
}